body {
    padding-top: 80px;
}

.bracket-set {
    border: 1px solid #9e9e9e;
    margin: 0 30px 10px 0;
    width: 180px;
}

.bracket-set-entrant-one {
    border-bottom: 1px solid #9e9e9e;
}

.bracket-set-entrant-one,
.bracket-set-entrant-two {
    overflow: hidden;
}

.bracket-set-entrant-name {
    height: 34px;
    padding: 6px;
    width: 130px;
}

.bracket-set-entrant-score {
    border-left: 1px solid #9e9e9e;
    height: 34px;
    padding: 6px;
    text-align: center;
    width: 48px;
}
