{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block sonata_page_content_nav %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Import "{{ tournament.name }}"</a>
            </div>
        </div>
    </nav>

{% endblock %}

{% block sonata_admin_content %}

    <div class="alert alert-error">
        {{ error }}
    </div>

{% endblock %}