{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

        <h4>{{ tournament.name }}</h4>

    </div>
    <div class="col-md-9 ">

        The results<br><br>

        {% for event in tournament.events %}

            <h2>{{ event.name }}</h2>

            {% for result in event.results %}

                {{ result.rank }} : {{ result.entrant.name }} <br>

            {% endfor %}

        {% endfor %}

    </div>
</div>

{% endblock %}
