{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-3 well">

        <h4>{{ tournament.name }}</h4>

    </div>
    <div class="col-md-9 ">

        The results

    </div>
</div>

{% endblock %}
