{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

    {% for tournament in tournaments %}

        <tr>
            <td>{{ tournament.name }}</td>
            <td></td>
            <td></td>
            <td>
                {#<a href="{{ url('tournament_details', { 'slug': tournament.slug }) }}">Details</a>#}
            </td>
        </tr>

    {% endfor %}

        </table>
        <div>
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
</div>

{% endblock %}
