{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <h2>Brackets</h2>
    </div>

    {% block bracket %}{% endblock %}
</div>

{% endblock %}
