{% extends 'AppBundle:Tournaments/brackets:base.html.twig' %}

{% import '@App/Tournaments/brackets/macros.html.twig' as macros %}

{% block bracket %}

    <div class="col-md-12" style="width: 2000px;">
        <h3>Winners</h3>

        {% for sets in bracket.iterableBracket %}

            <div class="pull-left">

            {% for set in sets %}

                {{ macros.set(set) }}

            {% endfor %}

            </div>

        {% endfor %}

        {% for set in bracket.grandFinalsSets %}

            <div class="pull-left">
                {{ macros.set(set) }}
            </div>

        {% endfor %}

    </div>
    <div class="col-md-12" style="width: 5000px;">
        <h3>Losers</h3>

        {% for sets in bracket.iterableLosersBracket %}

            <div class="pull-left">

            {% for set in sets %}

                {{ macros.set(set) }}

            {% endfor %}

            </div>

        {% endfor %}

    </div>

{% endblock %}
