{% extends 'AppBundle:Tournaments/brackets:base.html.twig' %}

{% block bracket %}

    <div class="col-md-12">
        <p>
            We're sorry, but brackets for this phase group type are not supported yet.
        </p>
    </div>

{% endblock %}
