{% extends '@App/layout.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-xs-12">
            <h1>Oops! An error occurred.</h1>
            <p>
                Something is broken. Please let us know what you were doing when this error
                occurred. We will fix it as soon as possible. Sorry for any inconvenience
                caused.
            </p>
        </div>
    </div>

{% endblock %}