{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% form_theme form '@SonataAdmin/Form/form_admin_fields.html.twig' %}

{% import "SonataAdminBundle:CRUD:base_edit_form_macro.html.twig" as form_helper %}

{% block sonata_page_content_nav %}

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Merge "{{ player.gamerTag }}" with another player</a>
            </div>
        </div>
    </nav>

{% endblock %}

{% block sonata_admin_content %}

    <div class="sonata-ba-form">
        {{ form_start(form) }}
        {{ form_helper.render_groups(admin, form, ['default'], false) }}
        {{ form_end(form) }}
    </div>

{% endblock %}